/* styles.css */

:root {
    --bck-color: rgb(255, 255, 255);
    --border-color : rgb(0,0,0);
    --valnmb-color : rgb(0,0,0);
    --deadnmb-color : rgb(164,164,164);
    --clue-color : rgb(50, 186, 68);
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow:hidden; /* Empêche le défilement */
    
    justify-content: center; /* Centre horizontalement */
    background-color: var(--bck-color);
}

#menu {
    display: none; /* Invisible par défaut */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage */
    background-color: white;
    border: 1px solid #000000;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
  }

.menu_line {
    height: 10%; /* 10% de la hauteur du menu */
    width:  100%; /* 100% de la largeur du menu */
    display: flex;
    align-items: center; /* vertical alignment */
    justify-content: space-between; /* spacing entre éléments */
}

.menu_line p {
    /* Appliquer des styles au <p> dans .menu_line */
    margin: 5px; /* Par exemple, mettre le texte en rouge */
  }

.menu_line input {
    /* Appliquer des styles au <p> dans .menu_line */
    margin: 5px; /* Par exemple, mettre le texte en rouge */
}

#topBand {
    background-color: var(--bck-color);
    height: 20dvh; /* 20% de la hauteur de l'écran */
    width: 100%; /* Toute la largeur */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; /* Divise en trois lignes égales */
    grid-template-columns: 1fr 1fr 1fr; /* Divise en trois colonnes égales */
}

#topTrans{
    background:linear-gradient(to bottom, var(--bck-color), rgba(255, 255, 255, 0));
    position: absolute;
    top: 20dvh; /* Distance du haut du conteneur */
    left: 0px; /* Distance de la gauche du conteneur */
    height: 2dvh; /* 20% de la hauteur de l'écran */
    width: 100%; /* Toute la largeur */

}

.imgContain img {
    width: auto;  /* L'image prendra toute la largeur du div */
    height: 5dvh; /* L'image gardera ses proportions */
  }

.topElement {
    display: flex; /* Flexbox pour aligner le contenu */
    align-items: center; /* Centre verticalement */
    font-size: 5dvh;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
}

#back {
    justify-content: flex-start; /* Aligner à gauche */
    grid-column: 1;
    grid-row: 1;
}

#opt {
    justify-content: flex-end; /* Aligner à droite */
    grid-column: 3;
    grid-row: 1;
}

#score {
    grid-column: 2;
    grid-row: 2;
    justify-content: center; /* Par défaut : centre horizontal */
}

#stepSection {
    grid-column: 1;
    grid-row: 3;
    display: flex; /* Flexbox pour aligner le contenu */
    flex-direction: column;
    align-items: flex-start; 
    
}

#highSection {
    grid-column: 3;
    grid-row: 3;
    display: flex; /* Flexbox pour aligner le contenu */
    flex-direction: column;
    align-items: flex-end; 
}

.subTopElement{
    font:normal;
    font-size: 2dvh;
    color:gray;
}

#botBand {
    background-color: var(--bck-color);
    height: 15dvh; /* 15% de la hauteur de l'écran */
    width: 100%; /* Toute la largeur */
    display: flex; /* Flexbox pour aligner le contenu */
    flex-direction: row;
    align-items: center; /* Aligne verticalement le contenu */
    justify-content:space-evenly; /* Aligne horizontalement le contenu */
    
}

.botElement {
    position: relative; /* Permet de positionner les éléments enfants par rapport à ce div */
}

.botElement img {
    width: auto;
    height: 8dvh; /* L'image gardera ses proportions */
}

.botTag {
    position: absolute;  /* Positionnement absolu par rapport à `.botElement` */
    top: 0;              /* L'élément est collé en haut du conteneur */
    right: 0;             /* L'élément est collé à gauche du conteneur */
    background-color: rgba(0, 0, 0, 0.75);  /* Optionnel : couleur de fond semi-transparente */
    color: var(--bck-color);        /* Texte en blanc */
    padding: 1dvh;        /* Un peu de padding autour du texte */
    border-radius: 50%;  /* Pour rendre le tag circulaire */
    width: 1dvh;         /* Largeur du tag */
    height: 1dvh;        /* Hauteur du tag */
    display: flex;       /* Utilisation de flexbox pour centrer le texte */
    justify-content: center; /* Centrer horizontalement */
    align-items: center;     /* Centrer verticalement */
    font-size: 2dvh;      /* Taille du texte */
}

#botTrans{
    background:linear-gradient(to top, var(--bck-color), rgba(255, 255, 255, 0));
    position: absolute;
    bottom: 15dvh; /* Distance du haut du conteneur */
    left: 0px; /* Distance de la gauche du conteneur */
    height: 2dvh; /* 20% de la hauteur de l'écran */
    width: 100%; /* Toute la largeur */

}

#content {
    background-color: var(--bck-color);
    flex: 1;
    text-align: center;
    padding: 10px;
    overflow-y: auto; /* Permet au contenu de défiler verticalement */
    display: flex;
    justify-content: center; /* Aligne horizontalement le contenu */
    
    
    
}

#help {
    background-color: var(--bck-color);
    
    border: none;
    
}

#addBtn[status="0"] {
    background-color: var(--bck-color);
    
    border: none;
    
}

#addBtn[status="1"] {
    background-color: var(--clue-color); /* Couleur pour visualisation */
    border: none;
    
}


.grid-table {
    border: 2px solid var(--border-color);
    width: 100%; /* Le tableau prend toute la largeur */
    border-collapse: collapse; /* Supprime les espaces entre les cellules */
    max-width: 100dvh;
}

.grid-table tr {
    display: flex; /* Transforme les lignes en conteneurs flexibles */
}


.grid-table td {
    flex: 1; /* Chaque cellule occupe une part égale de la largeur */
    aspect-ratio: 1 / 1; /* Hauteur égale à la largeur pour chaque cellule */
    font-weight: bold;
    
    border: 1px solid gray;
    display: flex; /* Permet d'aligner le contenu correctement */
    align-items: center; /* Aligne verticalement le contenu */
    justify-content: center; /* Aligne horizontalement le contenu */
    font-size: 4vw;
}

td[status="0"]{/* vide */
    background-color: var(--bck-color); /* Couleur pour visualisation */
    color: var(--bck-color);
}

td[status="1"]{/* inactif valide */
    background-color:var(--bck-color);/* Couleur pour visualisation */
    color: var(--valnmb-color);
    font-size: 4vw;
}

td[status="2"]{ /* inactif invalide */
    background-color:var(--bck-color); /* Couleur pour visualisation */
    color: var(--deadnmb-color);
    font-size: 3vw;
}

td[status="3"]{ /* selection */
    background-color: lightblue; /* Couleur pour visualisation */
    color:  var(--valnmb-color);
    font-size: 4vw;
}

td[status="4"]{ /* indice */
    background-color: var(--clue-color); /* Couleur pour visualisation */
    color:  var(--valnmb-color);
    font-size: 4vw;
}

td[status="5"]{ /* fail */
    background-color: var(--bck-color); /* Couleur pour visualisation */
    color:  var(--valnmb-color);
    font-size: 4vw;
    /*display: inline-block;  /* Nécessaire pour appliquer transform */
    animation: blinker .5s ease-in-out 3; /* L'animation dure 1 seconde et est répétée à l'infini */
}

/* Définition de l'animation */
@keyframes blinker {
    0%, 100% {
        background-color: var(--bck-color); /* Rétablit la couleur de fond initiale */
    }
    50% {
        background-color: red; /* Change la couleur de fond en rouge */
    }
}