/* styles.css */
body {
    margin: 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    
    align-items: center; /* Centre horizontalement */
    justify-content: space-evenly;
}
.mode{
    gap: 3px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligne verticalement le contenu */
    justify-content:space-evenly; /* Aligne horizontalement le contenu */
}


.demo {
    padding: 3px;
    gap: 3px;
    display: flex; /* Flexbox pour aligner le contenu */
    flex-direction: row;
    align-items: center; /* Aligne verticalement le contenu */
    justify-content:space-evenly; /* Aligne horizontalement le contenu */
}
.demo2 {
    padding: 3px;
    display: flex; /* Flexbox pour aligner le contenu */
    align-items: center; /* Aligne verticalement le contenu */
}

.demo3 {
    padding: 3px;
    gap: 3px;
    display: flex; /* Flexbox pour aligner le contenu */
    align-items: center; /* Aligne verticalement le contenu */
}

.demo img{
    height : auto;
    width: 30dvw;
    
}

.demo2 img{
    height : auto;
    width: 90dvw;
    
}


.demo3 img{
    margin: 3px;
    height : auto;
    width: 15dvw;
    
}