/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    
    align-items: center; /* Centre horizontalement */
}
.mode{
    height: 10dvh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligne verticalement le contenu */
    justify-content:space-evenly; /* Aligne horizontalement le contenu */
}


.demo {
    height: 30dvw; /* 15% de la hauteur de l'écran */
    width: 100%; /* Toute la largeur */
    display: flex; /* Flexbox pour aligner le contenu */
    flex-direction: row;
    align-items: center; /* Aligne verticalement le contenu */
    justify-content:space-evenly; /* Aligne horizontalement le contenu */
}

.demo img{
    height : 30 vw;
    width: auto;
    
}

.demo2 img{
    height: auto;
    width: 66 dvw;
}

.demo3 img{
    height: auto;
    width: 15 dvw;
    
}