/* styles.css */

.demo {
    height: 30 dvw;
    width: 30 dvw;
    object-fit: cover; /* Crop l’image si besoin */
}

.demo2 {
    height: 30 dvw;
    width: 66 dvw;
    object-fit: cover; /* Crop l’image si besoin */
}

.demo3 {
    height: 10 dvw;
    width: 10 dvw;
    object-fit: cover; /* Crop l’image si besoin */
    
}