/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow:auto; /* Empêche le défilement */
}

#topBand {
    background-color: red;
    height: 20%; /* 20% de la hauteur de l'écran */
    width: 100%; /* Toute la largeur */
    text-align: center;
    line-height: calc(20vh); /* Centrage vertical */
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

#botBand {
    background-color: blue;
    height: 15%; /* 15% de la hauteur de l'écran */
    width: 100%; /* Toute la largeur */
    text-align: center;
    line-height: calc(15vh); /* Centrage vertical */
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

#content {
    background-color: yellow;
    flex: 1;
    text-align: center;
    padding: 10px;
}

#grid {
    border-collapse: collapse;
    width: 100%; /* Remplit toute la largeur du conteneur #content */
    /*table-layout: fixed; /* Chaque colonne aura une largeur égale */
}

/*.grid-table tr {
    border: 1px solid rgb(0, 255, 60);
    text-align: center;
    font-size: 0.8rem;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin: 10 px;
    height: 50px;
    box-sizing: border-box; /* Inclut les bordures dans la taille totale de la cellule 
    position: relative; /* Nécessaire pour que l'élément pseudo ::after fonctionne correctement 
}*/


.grid-table td {
    
    aspect-ratio : 1 / 1;
    width:10%;
    text-align: center;
    font-size: 0.8rem;
    border: 1px solid black;
    background-color: white;
}

